<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ILoveKanban</title>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/board.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main-container">
        {{#> content}}
        {{/content}}

        <div class="wrapper">
            <div class="vertical-nav">{{>includes/nav}}</div>
            <div class="proyect-board">{{>includes/board}}</div>
            <div></div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function changeTaskStatus(_id, newStatus) {
            await axios.patch('/task/move', {taskId: _id, newStatus: newStatus})
                .then(function (response) {
                    window.location.reload()
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>

    <script>
        $('.task-description').bind('input propertychange', async function() {
            taskId = $(this).attr("data-note-id");
            newDescription = this.value;
            await axios.patch('/task/edit', {taskId: taskId, newDescription: newDescription});
        });
    </script>

</body>

</html>